/* heart gif */
.hrt {
    width: 15%;
    height: 2rem;
}

/* thermometer */
.ter {
    width: 15%;
    height: 2rem;
}

/* blood drop */
.drop {
    width: 15%;
    height: 2rem;
}

/* instrument */
.pres {
    width: 15%;
    height: 2rem;
}